<style type="text/css">
	ul { 
		list-style: none outside none;
		margin:10px 0;
		padding: 0;
		text-align: center;
	}
	li {
		margin: 0 2px;
		display: inline;
	}
</style>

<div>
	<h1>Bitte ausw&auml;hlen:</h1>
	<div>Taktische Symbole
	</div>
	<input type="text" placeholder="Filter" ng-model="fields.symbolsFilter"></input>
	<button ng-click="fields.fiterSymbols('')">Filter l&ouml;schen</button>
	<ul id="filter" style="text-align: left;">
		<li ng-repeat="category in fields.symbols.categories" ng-click="">
			<button ng-click="fields.fiterSymbols(category.keyword)">{{category.name}}</button>
		</li>
	</ul>
	<ul id="symbols" style="height: 240px; overflow: scroll;">
		<li ng-repeat="symbol in fields.symbols.symbols | filter:fields.symbolsFilter" ng-click="">
			<img ng-click="fields.addSymbol(symbol.name)" style="height:80px; background-color: white;" ng-src="images/symbols/{{symbol.name}}.svg" ng-title="{{symbol.name}}" alt="Description" />
		</li>
	</ul>
	Zum setzen des Ortes in die Karte klicken
	<button ng-click="fields.deleteLine()">Ort l&ouml;schen</button>
	<br>
	<ul style="left:30%; top: 70%; height: 20%; width: 40%; position:absolute;">
		<!-- svg will not be distorted, therefore a not fitting representation in 4:3 screens. TODO: Avoid inline styling--> 
		<li style="width: 50%; height: 85%; left:25%; position:absolute;">		
			
			<div style="width: 99%; height: 15%; position:absolute;">
				<input ng-model="fields.currentField.fieldTextTop"  style="display: block; position:relative; width: 97%; height:100%;" type="text" placeholder="Text eingeben">
			</div>
			<div style="width: 99%; height: 15%; top: 80%; position:absolute;">
				<input ng-model="fields.currentField.fieldTextBottom" style="height:100%; display: block; position:relative; width: 97%;" type="text" placeholder="Text eingeben">
			</div>
			<img ng-src="{{fields.currentField.image}}" style="width: 100%; height:100%; top:0%; left:0%; background-color: white; text-align: center;" />			
				
			
		</li>		
		<li style="top:80%; left:0%; position:absolute; width:100%;">		
			<br>
			<button ng-click="fields.submit()">Bestätigen</button>
			<button ng-click="fields.cancel()">Abbrechen</button>
			<button ng-click="fields.delete()">Löschen</button>
		</li>
	</ul>
</div>
