
	html, body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0;
		height: 100%;
		width: 100%;
		background-color: #eaeaea;
	}

	#sideContent {
		position: absolute;
		height: 97.4%;
		width: 43%;
		bottom: 0;
		right: 0;
		top: 2.7%;
		background-color: #333333;
		color: white;
		overflow: scroll;		
	}

	#map{
		top: 12%;
		left: 5%;
		height: 58%;
		width: 40%;
	}

	#titleRow{
		position: absolute;
		top: 0;
		left: 0;
		height: 2.5%;
		width: calc(100% - 14px);
		border: 2px solid #7F7F7F;
	}

	.titleRowInput {
		width: 5%;
		height: 60%;
	}

	.fields {
		cursor: pointer;
	}

	.fields svg{
		stroke: #6D6D6D;
		stroke-width: 1;
		fill: white;
	}
	
	.activated{

		border: 1px solid rgba(194, 14, 238, 1); /* some kind of red border */
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
				border-radius: 4px;
	 
		-webkit-box-shadow: 0px 0px 4px #c20e1a;
		   -moz-box-shadow: 0px 0px 4px #c20e1a;
				box-shadow: 0px 0px 4px #c20e1a; /* some variation of red for the shadow */
	}
	.toprow{
		position: absolute;
		top: 4%;
		
	}
	
	
	.bottomrow{
		position: absolute;
		top: 70%;
	}
	.leftcol{
		position: absolute;
		left: 0.85%;
	}
	.rightcol{
		position: absolute;
		left: 45%;
	}

	.fieldText{
		position: absolute;
		height: 23px;
		width: 143px;
	}

	.fieldTextBottom{
		 margin-top: 72px;
	}
	
	

	/**Map stuff:
	*/
	.leaflet-control-zoom {
		display: none;
	}

	.map-element {
		width: 60px;
		padding: 5px;
		position: absolute;
		background-color: #fff;
		border: 1px solid black;
	}

	.customZoomControl-pane {
		width: 1%;
		height: 2.5%;
		position: absolute;
		top: 3%;
		left: 1%;
		box-shadow: 0 1px 5px rgba(0,0,0,0.65);
		line-height: 26px;

	}
	.customZoomControl {
		top: 0;
		position: absolute;
		font: bold 22px 'Lucida Console', Monaco, monospace;
		font-size: 24px;
		background-color: #fff;
		width: 100%;
		height: 100%;
		line-height: 100%;
		display: block;
		text-align: center;
		text-decoration: none;
		color: black;
		border: 0;
		border: 1px solid black;
	}

	.customZoomControl-out{
		left: 30px;
	}
	.customZoomControl-in{
		left: 0px;
	}

	#freezeMap{
		top: 6%;
		left: 0.5%;
		text-decoration: none;
		font-size: 14px;
		color: black;
		line-height: 100%;
		width: 3%;
		height: 3%;
		text-align: center;		
	}

	#freezeMapLock{
		top: 8%;
		position: absolute;
		right: 10px;
		height: 14px;
		display: none;
	}

	#datasets{
		top: 5%;
		left: 45%;
		text-decoration: none;
		font-size: 14px;
		color: black;
		width: 6%;
		height: 2%;
		text-align: center;
		padding: 10px 5px 10px 5px;
	}

	#drawTest{
		top: 40px;
		right: 10px;
		text-decoration: none;
		font-size: 14px;
		color: black;
		z-index: 1;
	}

	.drawToolbarDiv{
		position: absolute;
		z-index: 2;
		top: 67%;
		left: 0px;
		height: 20%;
		width: 4%;
		border-spacing: 0;
		border-collapse: collapse;
	}

	.drawToolbar {
		background-repeat: no-repeat;
		background-image: url('../lib/leaflet-draw/dist/images/spritesheet.png');
		height: 100%;
		width: 100%;
		text-decoration: none;
		z-index: 1;
		text-align: center;
		font-size: 14px;
		display: inline-block;
	}

	.drawToolbar table, td, th {
		height: 20%;
		width: 20%;
		border: 1px solid black;
		padding: 0;
		margin: 0;
		background-color: #fff;
	} 

	#drawTitle{
		height: 100%;
		background-image: none;
		width: 100%;
	}

	#drawRectangle{
		width: 100%;
		background-position: -60px 0;
	}

	#drawPolygon{
		width: 100%;
		height: 100%;
		background-position: -30px 0;
	}

	#drawLine{
		width: 100%;
		height: 100%;
		background-position: 0 0;
	}

	#drawCircle{
		width: 100%;
		height: 100%;
		background-position: -82px 0;
	}

	#drawPoint{
		width: 20%;
		height: 100%;
		background-position: -112px 0;
	}

	.leaflet-draw.leaflet-control{
		display: none;
	}
	
}	



