<div class="row">
    <div class="col-xs-12">
        <p ng-bind-html="metadata"></p>
        <button data-toggle="modal" data-target=".bs-example-modal-sm" type="button" class="btn btn-default btn-lg" ng-click="editObjects()">Objekte verändern</button>
        <span data-toggle="modal" data-target=".bs-example-modal-sm">
            <button id="btnDeleteObject" data-toggle="tooltip" data-placement="right" title="Die zu löschenden Objekte auf der Karte auswählen" type="button" class="btn btn-default btn-lg" ng-click="deleteObjects()">Objekte löschen</button>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="geomAttr">
            <h4>Darstellung der Geometrie ändern</h4>
            <div id="cp2" class="input-group colorpicker-component" style="width: 25%">
                <input type="text" value="#00AABB" class="form-control" title="Farbauswahl" />
                <span class="input-group-addon"><i></i></span>
            </div>
            <h4>Kommentar zu diesem Objekt</h4>
            <textarea id="commentGeom" rows="10" cols="50" ng-model="comment" placeholder="Kommentar hinzufügen" ></textarea><br>
            <input type="checkbox" name="tooltipCheckbox" id="tooltipCheckbox" title="Objekt beschriften"> Objekt beschriften<br>
            <input type="checkbox" name="dashed" id="dashed" title="Gestrichelte Linie" > Gestrichelte Linie
            <br/>
            <button id="saveSelectedColour" type="button" class="btn btn-default btn-lg" ng-click="changeGeomStyle()">Eigenschaften speichern</button>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Durchgeführte Änderungen</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default btn-lg" ng-click="editSave()">Speichern</button>
                        <button type="button" class="btn btn-default btn-lg" ng-click="editCancel()">Verwerfen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>