<style type="text/css">
	ul { 
		list-style: none outside none;
	}
	li {
		margin: 0 2px;
		display: inline;
	}
</style>
<div style="margin: 10px;">
	<h1>Objektinformationen</h1>

	<div ng-bind="map.objects.type"></div>
	<div ng-bind-html="map.objects.measureString"></div>
	<br>
	<button ng-click="map.editObjects()">Objekte bearbeiten</button>
	<button ng-click="map.deleteObjects()">Objekte löschen</button>
	<button ng-click="sideContent.close()">Schließen</button>

	<div ng-hide="hideColorPicker" class="ng-hide">
		<br>
		<h3>Ändern Sie die Darstellung der Geometrie</h3>
        <input type="checkbox" name="dashed" id="dashed" title="Gestrichelte Linie">Gestrichelte Linie
		<h3>Ändern Sie die Farbe der Geomerie.</h3>
		<!-- colorPicker-->
		<input type='text' id='colorPicker' title="Farbauswahl"/>
	</div>
	<h3>Kommentar zu diesem Objekt</h3>
	<div>
		<textarea rows="10" cols="50" ng-model="map.objects.comment" type="text" placeholder="Kommentar hinzufügen"></textarea>
	</div>
	<input type="checkbox" name="labelGeometry" id="labelGeometry" title="Beschriftung">Geometrie beschriften
	<br/>
	<button style="margin-top: 10px" ng-click="map.saveGeomSettings()">Eigenschaften speichern</button>
</div>