<style type="text/css">
	ul {
		list-style: none outside none;
		margin:10px 0;
		padding: 0;
		text-align: center;
	}
	li {
		margin: 0 2px;
		display: inline;
	}
</style>
<!--TODO: Avoid inline styling-->
<div style="height: 100%">
	<div style="top:0%; width:100%; height: 20%; position:absolute; font-size: 1.5vh;">
		<h1 style= "margin-top: 0%; margin-left:2%">Bitte ausw&auml;hlen:</h1>
		<div style="font-size: 1vw;  margin-left:2%">Taktische Symbole</div>
		<input type="text" style="display: inline-block; position:relative; width: 28%; font-size: 1.5vh; height:10%;  margin-left:2%" placeholder="Filter" ng-model="fields.symbolsFilter">
		<button style="top: 10%; font-size: 1.5vh;" ng-click=" fields.fiterSymbols('')">Filter l&ouml;schen </button>
		<ul id="filter" style="text-align: left; margin-left:2%; top:70%; width:98%; position:absolute">
			<li ng-repeat="category in fields.symbols.categories" ng-click="">
				<button style="font-size: 1.5vh; height:15%" ng-click="fields.fiterSymbols(category.keyword)">{{category.name}}</button>
			</li>
		</ul>
	</div>
	<ul id="symbols" style="height: 40%; padding-left: 1%; top:22%; position:absolute; overflow: auto;">
		<li ng-repeat="symbol in fields.symbols.symbols | filter:fields.symbolsFilter" ng-click="">
			<img ng-click="fields.addSymbol(symbol.name)" style="height:80px; background-color: white;" ng-src="images/symbols/{{symbol.name}}.svg" ng-title="{{symbol.name}}" alt="Description" />
		</li>
	</ul>
	<div style="top:65%; height: 5%; left:2%; position:absolute; font-size:1.8vh;">
		Zum setzen des Ortes in die Karte klicken
		<button style="font-size: 1.5vh;" ng-click="fields.deleteLocationOnMap(fields.currentField.id)">Ort löschen</button>
	</div>
	<br>

	<ul class="tzAuswahl">
		<!-- svg will not be distorted, therefore a not fitting representation in 4:3 screens.-->
		<li style="width: 50%; height: 85%; left:25%; position:absolute;">
			<div style="width: 100%; height: 17%; position:absolute;">
				<input ng-model="fields.currentField.fieldTextTop"  style="display: block; position:relative; width: 96%; height:100%; font-size: 1.5vh" type="text" placeholder="Text eingeben">
			</div>
			<div style="width: 100%; height: 17%; top: 80%; position:absolute;">
				<input ng-model="fields.currentField.fieldTextBottom" style="height:100%; display: block; position:relative; width: 96%; font-size: 1.5vh" type="text" placeholder="Text eingeben">
			</div>
			<img ng-src="{{fields.currentField.image}}" style="width: 100%; height:100%; top:0%; left:0%; background-color: white; text-align: center;" />
		</li>

		<li style="top:80%; left:0%; font-size:1.5vh; position:absolute; width:95%;">
			<br>
			<button style="font-size:1.5vh" ng-click="fields.submit()">Bestätigen</button>
			<button style="font-size:1.5vh" ng-click="fields.cancel()">Abbrechen</button>
			<button style="font-size:1.5vh" ng-click="fields.delete()">Löschen</button>
		</li>
	</ul>
	<br>

	<div class="tzCommentDiv">
		Kommentar zu Taktischen Symbol hinzuf&uuml;gen:
		<textarea rows="10" cols="50" class="tzComment" ng-model="fields.currentField.fieldComment" type="text" placeholder="Kommentar hinzufügen" ></textarea>
	</div>
</div>