<div style="height: 100%; padding-left: 2%">
    <h2>Verwalten von Einsätzen</h2>
    <div style="margin-top: 10px">
        <button style="font-size: 1.5vh" ng-click="newMission()">Neuer Einsatz</button>
    </div>
    <div style="margin-top: 10px">
        <button style="font-size: 1.5vh" ng-click="saveEinsatz()">Einsatz speichern</button>
        <button style="font-size: 1.5vh" ng-click="deleteEntry()">Einsatz löschen</button>
    </div>
    <div style="margin-top: 10px">
        <button style="font-size: 1.5vh" ng-click="exportEntry()">Einsatz exportieren</button>
        <button style="font-size: 1.5vh" ng-click="importEntry()">Einsatz importieren</button>
    </div>
    <h3>Gespeicherte Einsätze:</h3>
    <p>Zum Laden eines Einsatzes diesen anklicken.</p>
    <table id="einsaetze-tbl">
        <tr>
            <th>Stichwort</th>
            <th>Ort</th>
            <th>Meldender</th>
            <th>Objektnr.</th>
            <th>Uhrzeitgruppe</th>
        </tr>
	    <tbody style="cursor: pointer" id="einsatzTable"></tbody>
    </table>
</div>