<div class="row">
    <div class="col-xs-12">
        <p></p>
        <button type="button" class="btn btn-default btn-lg" ng-click="newMission()">Neuer Einsatz</button>
        <button type="button" class="btn btn-default btn-lg" ng-click="saveMission()">Einsatz speichern</button>
        <button type="button" class="btn btn-default btn-lg" ng-click="deleteEntry()">Einsatz löschen</button>
        <p></p>
        <table class="table table-hover">
            <tr>
            <th>Stichwort</th>
            <th>Ort</th>
            <th>Meldender</th>
            <th>Objektnr.</th>
            <th>Uhrzeitgruppe</th>
            </tr>
            <tr ng-repeat="dbEntry in fireDB" ng-click="loadMission(dbEntry)">
                <td>{{dbEntry.meta.einsatzstichwort}}</td>
                <td>{{dbEntry.meta.einsatzort}}</td>
                <td>{{dbEntry.meta.meldender}}</td>
                <td>{{dbEntry.meta.objektNr}}</td>
                <td>{{dbEntry.meta.datumUhrzeitGruppe}}</td>
            </tr>
        </table>
    </div>
</div>