<div class="row">
    <div class="col-xs-12">
        <p></p>
        <button type="button" class="btn btn-default btn-lg" ng-click="newMission()">Neuer Einsatz</button>
        <button type="button" class="btn btn-default btn-lg" ng-click="saveMission()">Einsatz speichern</button>
        <button type="button" class="btn btn-default btn-lg" ng-click="deleteEntry()">Einsatz löschen</button>
        <p></p>
        <table class="table table-hover">
            <tr>
            <th>#</th>
            <th>Zeitpunkt</th>
            </tr>
            <tr ng-repeat="dbEntry in fireDB" ng-click="loadMission(dbEntry)">
                <td>{{$index + 1}}</td>
                <td>{{dbEntry.id | date:'dd/MM/yyyy - hh:mm'}}</td>
            </tr>
        </table>
    </div>
</div>